bluemix.flow
[{"id":"d24d370.f2db2c8","type":"ibmiot","name":"Raspberry Pi Sensors"},{"id":"da80f17f.257f1","type":"mongodb","hostname":"ds055210.mongolab.com","port":"55210","db":"IbmCloud_mmbgrccp_8td0qmt4","name":"Mongo instance "},{"id":"2ed778cd.d12888","type":"function","name":"Add missing data","func":"// 0087347f0174 - Brood, Hive 1\n// 1BE4FA050000 - Super, Hive 1\n// DHT2201      - Crown, Hive 1\n// 71EEFA050000 - Brood, Hive 2\n// BD27FB050000 - Super, Hive 2\n// DHT2202      - Crown, Hive 2\n// 8D85FB050000 - External\nif (msg.payload.sensor_id == \"03A3FA050000\") {\n    msg.payload.hive_id = \"1\";\n    msg.payload.hive_name = \"Wooden Hive\";\n    msg.payload.sensor_name = \"Brood\";\n} else if (msg.payload.sensor_id == \"1BE4FA050000\") {\n    msg.payload.hive_id = \"1\";\n    msg.payload.hive_name = \"Wooden Hive\";\n    msg.payload.sensor_name = \"Super\";\n} else if (msg.payload.sensor_id == \"DHT2201\") {\n    msg.payload.hive_id = \"1\";\n    msg.payload.hive_name = \"Wooden Hive\";\n    msg.payload.sensor_name = \"Crown\";\n} else if (msg.payload.sensor_id == \"71EEFA050000\") {\n    msg.payload.hive_id = \"2\";\n    msg.payload.hive_name = \"Red Poly Hive\";\n    msg.payload.sensor_name = \"Brood\";\n} else if (msg.payload.sensor_id == \"BD27FB050000\") {\n    msg.payload.hive_id = \"2\";\n    msg.payload.hive_name = \"Red Poly Hive\";\n    msg.payload.sensor_name = \"Super\";\n} else if (msg.payload.sensor_id == \"DHT2202\") {\n    msg.payload.hive_id = \"2\";\n    msg.payload.hive_name = \"Red Poly Hive\";\n    msg.payload.sensor_name = \"Crown\";\n} else if (msg.payload.sensor_id == \"8D85FB050000\") {\n    msg.payload.hive_id = \"3\";\n    msg.payload.hive_name = \"External\";\n    msg.payload.sensor_name = \"External\";    \n} else {\n    msg.payload.hive_id = \"0\";\n    msg.payload.sensor_name = \"UNKNOWN\";    \n}\n\nreturn msg;","outputs":1,"valid":true,"x":476,"y":142,"z":"4982e59a.b67d1c","wires":[["f3eb0b7c.0c14f8"]]},{"id":"f3eb0b7c.0c14f8","type":"mongodb out","service":"_ext_","mongodb":"da80f17f.257f1","name":"Save readings in DB","collection":"readings","payonly":true,"upsert":false,"multi":false,"operation":"store","x":737,"y":141,"z":"4982e59a.b67d1c","wires":[]},{"id":"1ddcba01.e22346","type":"mongodb in","service":"_ext_","mongodb":"da80f17f.257f1","name":"Read sensor data from DB","collection":"readings","operation":"find","x":626,"y":354,"z":"4982e59a.b67d1c","wires":[["7e57bc3a.81a844"]]},{"id":"3fa3e0e3.c05c2","type":"function","name":"Set temperature params","func":"msg.payload = { type: {$eq : \"T\"} };\nmsg.sort = { hive:1, id:1, captured:1 };\nreturn msg;","outputs":1,"valid":true,"x":367,"y":297,"z":"4982e59a.b67d1c","wires":[["1ddcba01.e22346"]]},{"id":"f2415607.0dbea8","type":"http in","name":"Get temperature","url":"/temperature","method":"get","x":130,"y":297,"z":"4982e59a.b67d1c","wires":[["3fa3e0e3.c05c2"]]},{"id":"ef6fb7bb.109048","type":"http response","name":"Return JSON data","x":999.0000610351562,"y":345,"z":"4982e59a.b67d1c","wires":[]},{"id":"7e57bc3a.81a844","type":"function","name":"Set Content-type","func":"msg.headers = { \"Content-type\": \"application/json\" };\nreturn msg;","outputs":1,"valid":true,"x":821,"y":272,"z":"4982e59a.b67d1c","wires":[["ef6fb7bb.109048"]]},{"id":"55413b6e.aabec4","type":"http in","name":"Get humidity","url":"/humidity","method":"get","x":125,"y":404,"z":"4982e59a.b67d1c","wires":[["8ab0aa4c.754f58"]]},{"id":"8ab0aa4c.754f58","type":"function","name":"Set humidity params","func":"msg.payload = { type: {$eq : \"H\"} };\nmsg.sort = { hive:1, id:1, captured:1 };\nreturn msg;","outputs":1,"valid":true,"x":355,"y":406,"z":"4982e59a.b67d1c","wires":[["1ddcba01.e22346"]]},{"id":"cf14bab2.30eb48","type":"http in","name":"Get external temperature","url":"/external","method":"get","x":147,"y":501,"z":"4982e59a.b67d1c","wires":[["f052572d.0fada8"]]},{"id":"98bf1312.6740f","type":"function","name":"Format as JavaScript variable","func":"msg.headers = { \"Content-type\": \"text/javascript\" };\nmsg.payload = \"var ExternalTemperature = \" + msg.payload.external + \";\";\nreturn msg;","outputs":1,"valid":true,"x":666,"y":500.9999694824219,"z":"4982e59a.b67d1c","wires":[["150a5bb3.eaf5a4"]]},{"id":"150a5bb3.eaf5a4","type":"http response","name":"Return current temp","x":971.0000610351562,"y":500.9999694824219,"z":"4982e59a.b67d1c","wires":[]},{"id":"f052572d.0fada8","type":"http request","name":"Get temp from Raspberry Pi","method":"GET","ret":"obj","url":"http://coolfore.com:1880/externalraw","x":400,"y":500.9999694824219,"z":"4982e59a.b67d1c","wires":[["98bf1312.6740f"]]},{"id":"bc9708e7.4368f8","type":"ibmiot in","authentication":"boundService","apiKey":"d24d370.f2db2c8","inputType":"evt","deviceId":"","applicationId":"","deviceType":"","eventType":"","commandType":"","format":"","name":"IBM IoT data from Pi sensors","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"x":167,"y":143,"z":"4982e59a.b67d1c","wires":[["2ed778cd.d12888"]]}]
