old.pi.flow
[{"id":"e8263f42.17d9c","type":"mqtt-broker","broker":"9hszyc.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:9hszyc:raspberrypi:0087347f0174"},{"id":"dc842bea.237bd8","type":"sqlitedb","db":"/home/brendan/Development/sensordata.db"},{"id":"5a5a01dc.a5a6","type":"sqlite","mydb":"dc842bea.237bd8","name":"sensordata.db","x":1023.888916015625,"y":98.11111450195312,"z":"6f81a901.907e58","wires":[["ea837fda.157c8"]]},{"id":"2b190eee.d4e6f2","type":"function","name":"Create DHT22 SQL ","func":"//org=9hszyc\n//type=raspberrypi\n//id=0087347f0174\n//auth-method=token\n//auth-token=u4qt@&mTVEdu4-+RX-\n\nvar now = new Date();\nvar ye = now.getUTCFullYear();\nvar mo = '00' + (now.getUTCMonth()+1);\nvar da = '00' + now.getUTCDate();\nvar hh = '00' + now.getUTCHours();\nvar mm = '00' + now.getUTCMinutes();\nvar ss = '00' + now.getUTCSeconds();\n\nvar timestamp = ye + \"-\" + mo.substr(mo.length-2)\n                   + \"-\" + da.substr(da.length-2)\n                   + \" \" + hh.substr(hh.length-2)\n                   + \":\" + mm.substr(mm.length-2)\n                   + \":\" + ss.substr(ss.length-2);\n                   \nvar id = msg.topic.toUpperCase();\nvar humidity = msg.humidity;\nvar temp = msg.payload;\n\nmsg.humidity = undefined;\nmsg.payload = {\"id\": id, \"timestamp\": timestamp, \"type\": \"T\", \"value\": temp };\n\nvar msg2 = {};\nmsg2.payload = {\"id\": id, \"timestamp\": timestamp, \"type\": \"H\", \"value\": humidity };\n\nmsg.topic = 'INSERT INTO TEMPERATURE VALUES(\"'\n            + id + '\", \"'\n            + timestamp + '\",'\n            + temp + ');';\n            \nif (humidity === undefined) {\n    msg2 = null;\n} else {\n    msg2.topic = 'INSERT INTO HUMIDITY VALUES(\"'\n                + id + '\", \"'\n                + timestamp + '\",'\n                + humidity + ');';\n}\n\nreturn [msg, msg2];","outputs":"2","valid":true,"x":831.888916015625,"y":81.11111450195312,"z":"6f81a901.907e58","wires":[["5a5a01dc.a5a6"],["5a5a01dc.a5a6"]]},{"id":"c5099c21.3af66","type":"http in","name":"REST API for temps","url":"/temperature","method":"get","x":344.888916015625,"y":493.1111145019531,"z":"6f81a901.907e58","wires":[["98d9ce46.67263"]]},{"id":"4387e16a.bc782","type":"sqlite","mydb":"dc842bea.237bd8","name":"Load sensor data","x":776.888916015625,"y":520.1111145019531,"z":"6f81a901.907e58","wires":[["74b93b07.8b46c4"]]},{"id":"24376c8c.dbc894","type":"change","name":"Get humidity data","rules":[{"t":"set","p":"topic","to":"select owner.name as owner_name,        hive.name as hive_name,        humidity.sensor as sensor_id,        sensor.name as sensor_name,        humidity.timestamp as timestamp,        humidity.value as value,        owner.id as owner_id,        hive.id as hive_id from humidity  left join sensor on humidity.sensor = sensor.id        left join hive on sensor.hive = hive.id        left join owner on hive.owner = owner.id order by owner_id, hive_id, sensor_id, timestamp;"}],"x":566.888916015625,"y":555.1111145019531,"z":"6f81a901.907e58","wires":[["4387e16a.bc782"]]},{"id":"ac36c494.53c938","type":"http in","name":"REST API for humidity","url":"/humidity","method":"get","x":352.388916015625,"y":555.1111145019531,"z":"6f81a901.907e58","wires":[["24376c8c.dbc894"]]},{"id":"cd2a1def.32d5e","type":"http response","name":"Return REST data","x":1213.8890380859375,"y":522.1112365722656,"z":"6f81a901.907e58","wires":[]},{"id":"d36c25eb.2c93d8","type":"inject","name":"Trigger sensor read","topic":"","payload":"","payloadType":"none","repeat":"600","crontab":"","once":false,"x":364.888916015625,"y":251.11111450195312,"z":"6f81a901.907e58","wires":[["819adf81.7e652","2e3c0fa9.d1c3f","5c65bb10.a39a44"]]},{"id":"98d9ce46.67263","type":"change","name":"Get temperature data","rules":[{"t":"set","p":"topic","to":"select owner.name as owner_name, hive.name as hive_name, temperature.sensor as sensor_id, sensor.name as sensor_name,  temperature.timestamp as timestamp, temperature.value as value,  owner.id as owner_id,  hive.id as hive_id from temperature left join sensor on temperature.sensor = sensor.id left join hive on sensor.hive = hive.id left join owner on hive.owner = owner.id order by owner_id, hive_id, sensor_id, timestamp;"}],"x":558.0889282226562,"y":493.3110656738281,"z":"6f81a901.907e58","wires":[["4387e16a.bc782"]]},{"id":"74b93b07.8b46c4","type":"function","name":"Set REST to JSON","func":"msg.headers = { \"Content-Type\":\"application/json\" };\nreturn msg;","outputs":1,"valid":true,"x":991.005615234375,"y":522.2278137207031,"z":"6f81a901.907e58","wires":[["cd2a1def.32d5e"]]},{"id":"2e3c0fa9.d1c3f","type":"rpi-dht22","name":"DHT2202 Capture","topic":"DHT2202","dht":22,"pintype":"4","pin":"3","x":596.8889465332031,"y":363.8888854980469,"z":"6f81a901.907e58","wires":[["4beadb93.b41524"]]},{"id":"819adf81.7e652","type":"rpi-dht22","name":"DHT2201 Capture","topic":"DHT2201","dht":22,"pintype":"4","pin":"2","x":597.8889465332031,"y":275.8888854980469,"z":"6f81a901.907e58","wires":[["4beadb93.b41524"]]},{"id":"5c65bb10.a39a44","type":"rpi-ds18b20","topic":"","name":"Get all DS18B20","x":592.8889465332031,"y":168.888916015625,"z":"6f81a901.907e58","wires":[["4beadb93.b41524"]]},{"id":"b64f26b5.49b0d8","type":"mqtt out","name":"Send data to Bluemix","topic":"iot-2/evt/status/fmt/json","qos":"0","retain":"false","broker":"e8263f42.17d9c","x":1172.888916015625,"y":272.8888854980469,"z":"6f81a901.907e58","wires":[]},{"id":"ea837fda.157c8","type":"function","name":"Format message","func":"var type = msg.topic.substr(12,1);\nvar data = (type==\"T\") ? msg.topic.substring(30) : msg.topic.substring(27);\nvar arr = data.substr(1, data.length-3).split(\",\");\nmsg.payload = { \"type\" : type, \"sensor_id\": arr[0].substr(1,arr[0].length-2),\n                               \"timestamp\": arr[1].substr(2,arr[1].length-3),\n                               \"value\": arr[2] };\n//msg.payload = \"0=>\" + arr[0] + \"< 1=<\" + arr[1] + \"< 2=<\" + arr[2] + \"<\" ;\nmsg.topic = \"\";\nreturn msg;","outputs":1,"valid":true,"x":1203.888916015625,"y":47.888885498046875,"z":"6f81a901.907e58","wires":[[]]},{"id":"4beadb93.b41524","type":"function","name":"Format for MQTT","func":"//org=9hszyc\n//type=raspberrypi\n//id=0087347f0174\n//auth-method=token\n//auth-token=u4qt@&mTVEdu4-+RX-\n\nvar now = new Date();\nvar ye = now.getUTCFullYear();\nvar mo = '00' + (now.getUTCMonth()+1);\nvar da = '00' + now.getUTCDate();\nvar hh = '00' + now.getUTCHours();\nvar mm = '00' + now.getUTCMinutes();\nvar ss = '00' + now.getUTCSeconds();\n\nvar timestamp = ye + \"-\" + mo.substr(mo.length-2)\n                   + \"-\" + da.substr(da.length-2)\n                   + \" \" + hh.substr(hh.length-2)\n                   + \":\" + mm.substr(mm.length-2)\n                   + \":\" + ss.substr(ss.length-2);\n                   \nvar id = msg.topic.toUpperCase();\nvar humidity = msg.humidity;\nvar temp = msg.payload;\n\nmsg.topic = \"\";\nmsg.humidity = undefined;\nmsg.payload = {\"sensor_id\": id, \"timestamp\": timestamp, \"type\": \"T\", \"value\": temp };\n\nvar msg2 = {};\nif (humidity === undefined) {\n    msg2 = null;\n} else {\n    msg2.topic = \"\";\n    msg2.payload = {\"sensor_id\": id, \"timestamp\": timestamp, \"type\": \"H\", \"value\": humidity };\n}\n\nreturn [msg, msg2];","outputs":"2","valid":true,"x":843,"y":273,"z":"6f81a901.907e58","wires":[["b64f26b5.49b0d8"],["b64f26b5.49b0d8"]]}]
