pi-flow.json
[{
	"id": "f0ccdbf6.8f70a8",
	"type": "inject",
	"name": "Trigger sensor read",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "600",
	"crontab": "",
	"once": false,
	"x": 152.50003051757812,
	"y": 181.22219848632812,
	"z": "df380ea4.9449a",
	"wires": [
		["dd4d479f.f48d18", "dbd80dde.f7d2c"]
	]
}, {
	"id": "dd4d479f.f48d18",
	"type": "rpi-dht22",
	"name": "DHT22 Capture",
	"topic": "DHT2201",
	"dht": 22,
	"pintype": "4",
	"pin": "2",
	"x": 381.50006103515625,
	"y": 244.99998474121094,
	"z": "df380ea4.9449a",
	"wires": [
		["fd90a150.7009a8"]
	]
}, {
	"id": "dbd80dde.f7d2c",
	"type": "rpi-ds18b20",
	"topic": "",
	"name": "Get all DS18B20",
	"x": 386.50006103515625,
	"y": 120,
	"z": "df380ea4.9449a",
	"wires": [
		["fd90a150.7009a8"]
	]
}, {
	"id": "fd90a150.7009a8",
	"type": "function",
	"name": "Format for MQTT",
	"func": "// Generate the timestamp\nvar now = new Date();\nvar ye = now.getUTCFullYear();\nvar mo = '00' + (now.getUTCMonth()+1);\nvar da = '00' + now.getUTCDate();\nvar hh = '00' + now.getUTCHours();\nvar mm = '00' + now.getUTCMinutes();\nvar ss = '00' + now.getUTCSeconds();\n\nvar timestamp = ye + \"-\" + mo.substr(mo.length-2)\n                   + \"-\" + da.substr(da.length-2)\n                   + \" \" + hh.substr(hh.length-2)\n                   + \":\" + mm.substr(mm.length-2)\n                   + \":\" + ss.substr(ss.length-2);\n\n// The input msg.Topic is the ID of the sensor\nvar id = msg.topic.toUpperCase();\nvar humidity = msg.humidity;\nvar temp = msg.payload;\n\n// First output is for temperature\nmsg.topic = \"\";\nmsg.humidity = undefined;\nmsg.payload = {\"sensor_id\": id, \"timestamp\": timestamp, \"type\": \"T\", \"value\": temp };\n\n// Second output is for Humidity\nvar msg2 = {};\nif (humidity === undefined) {\n    msg2 = null;\n} else {\n    msg2.topic = \"\";\n    msg2.payload = {\"sensor_id\": id, \"timestamp\": timestamp, \"type\": \"H\", \"value\": humidity };\n}\n\n// Return two outputs\nreturn [msg, msg2];",
	"outputs": "2",
	"valid": true,
	"x": 630.6111145019531,
	"y": 203.111083984375,
	"z": "df380ea4.9449a",
	"wires": [
		["5acf77f7.0a302"],
		["5acf77f7.0a302"]
	]
}, {
	"id": "5acf77f7.0a302",
	"type": "debug",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "false",
	"x": 843.1666717529297,
	"y": 198.1666717529297,
	"z": "df380ea4.9449a",
	"wires": []
}]
