pi.flow
[{"id":"e8263f42.17d9c","type":"mqtt-broker","broker":"9hszyc.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:9hszyc:raspberrypi:0087347f0174"},{"id":"d36c25eb.2c93d8","type":"inject","name":"Trigger sensor read","topic":"","payload":"","payloadType":"none","repeat":"600","crontab":"","once":false,"x":364.888916015625,"y":251.11111450195312,"z":"6f81a901.907e58","wires":[["819adf81.7e652","2e3c0fa9.d1c3f","5c65bb10.a39a44"]]},{"id":"3d681019.c297f","type":"http in","name":"REST for external temp","url":"/external","method":"get","x":317.888916015625,"y":480.00006103515625,"z":"6f81a901.907e58","wires":[["7fec13b3.8013ec"]]},{"id":"fcbd1e9d.0342e","type":"function","name":"Create JavaScript","func":"msg.headers = { \"Content-Type\":\"text/javascript\", \"charset\":\"utf-8\" };\nif (msg.topic === \"8D85FB050000\") {\n    msg.payload = \"var ExternalTemperature = \" + msg.payload + \";\"\n    return msg;\n}\n","outputs":1,"valid":true,"x":819.77783203125,"y":482.0001220703125,"z":"6f81a901.907e58","wires":[["581ae77a.a7e518"]]},{"id":"581ae77a.a7e518","type":"http response","name":"Return temperature","x":1146.77783203125,"y":482,"z":"6f81a901.907e58","wires":[]},{"id":"2e3c0fa9.d1c3f","type":"rpi-dht22","name":"DHT2202 Capture","topic":"DHT2202","dht":22,"pintype":"4","pin":"3","x":596.8889465332031,"y":363.8888854980469,"z":"6f81a901.907e58","wires":[["4beadb93.b41524"]]},{"id":"819adf81.7e652","type":"rpi-dht22","name":"DHT2201 Capture","topic":"DHT2201","dht":22,"pintype":"4","pin":"2","x":597.8889465332031,"y":275.8888854980469,"z":"6f81a901.907e58","wires":[["4beadb93.b41524"]]},{"id":"5c65bb10.a39a44","type":"rpi-ds18b20","topic":"","name":"Get all DS18B20","x":592.8889465332031,"y":168.888916015625,"z":"6f81a901.907e58","wires":[["4beadb93.b41524"]]},{"id":"7fec13b3.8013ec","type":"rpi-ds18b20","topic":"8D85FB050000","name":"External temp","x":579.888916015625,"y":480.888916015625,"z":"6f81a901.907e58","wires":[["fcbd1e9d.0342e"]]},{"id":"b64f26b5.49b0d8","type":"mqtt out","name":"Send data to Bluemix","topic":"iot-2/evt/status/fmt/json","qos":"0","retain":"false","broker":"e8263f42.17d9c","x":1172.888916015625,"y":272.8888854980469,"z":"6f81a901.907e58","wires":[]},{"id":"89c004ad.763ff8","type":"http in","name":"REST for external raw temp","url":"/externalraw","method":"get","x":328.8888854980469,"y":551.888916015625,"z":"6f81a901.907e58","wires":[["c062ba31.3f9d48"]]},{"id":"c062ba31.3f9d48","type":"rpi-ds18b20","topic":"8D85FB050000","name":"External Temp","x":582.888916015625,"y":550.8888854980469,"z":"6f81a901.907e58","wires":[["a8497dd1.57b68"]]},{"id":"a8497dd1.57b68","type":"function","name":"Format","func":"msg.payload = { \"external\": msg.payload };\nreturn msg;","outputs":1,"valid":true,"x":786.888916015625,"y":548.8888854980469,"z":"6f81a901.907e58","wires":[["680982cf.97f67c"]]},{"id":"680982cf.97f67c","type":"http response","name":"Return temperature","x":1145.888916015625,"y":546.888916015625,"z":"6f81a901.907e58","wires":[]},{"id":"4beadb93.b41524","type":"function","name":"Format for MQTT","func":"//org=9hszyc\n//type=raspberrypi\n//id=0087347f0174\n//auth-method=token\n//auth-token=u4qt@&mTVEdu4-+RX-\n\nvar now = new Date();\nvar ye = now.getUTCFullYear();\nvar mo = '00' + (now.getUTCMonth()+1);\nvar da = '00' + now.getUTCDate();\nvar hh = '00' + now.getUTCHours();\nvar mm = '00' + now.getUTCMinutes();\nvar ss = '00' + now.getUTCSeconds();\n\nvar timestamp = ye + \"-\" + mo.substr(mo.length-2)\n                   + \"-\" + da.substr(da.length-2)\n                   + \" \" + hh.substr(hh.length-2)\n                   + \":\" + mm.substr(mm.length-2)\n                   + \":\" + ss.substr(ss.length-2);\n                   \nvar id = msg.topic.toUpperCase();\nvar humidity = msg.humidity;\nvar temp = msg.payload;\n\nmsg.topic = \"\";\nmsg.humidity = undefined;\nmsg.payload = {\"sensor_id\": id, \"timestamp\": timestamp, \"type\": \"T\", \"value\": temp };\n\nvar msg2 = {};\nif (humidity === undefined) {\n    msg2 = null;\n} else {\n    msg2.topic = \"\";\n    msg2.payload = {\"sensor_id\": id, \"timestamp\": timestamp, \"type\": \"H\", \"value\": humidity };\n}\n\nreturn [msg, msg2];","outputs":"2","valid":true,"x":843,"y":273,"z":"6f81a901.907e58","wires":[["b64f26b5.49b0d8"],["b64f26b5.49b0d8"]]}]
